# Secrets configuration
GEMINI_API_KEY=MY_GEMINI_API_KEY
public_url=https://yteasfddnnyjvsbitrem.supabase.co
Anon_key=MY_SUPABASE_ANON_KEY
SUPABASE_URL=https://yteasfddnnyjvsbitrem.supabase.co
SUPABASE_ANON_KEY=MY_SUPABASE_ANON_KEY
